.nav-mid{
    size: 100%;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    background-color: #CCDC8C;
    overflow: hidden;
}
.nav-mid li{
    display:inline;
    
}
.nav-mid a{
    color: black;
    font-size: 30px;
    font-weight: bold;
    display:inline-block;
    padding:30px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif !important; 
}

.nav-mid a:hover{
    color: white;
}

.nav-mid a.active {
    color: white;
  }

body{
    background-color: #C2CEB0;
    font-family: 'Radio Canada', sans-serif;

}    

.card{
    max-width: 300px;
    margin:auto;
}
.col{
    padding-bottom: 5rem;
}
/* .card img{
    max-width: 200px;
    margin: auto;
} */

h1{
    text-align: center;
    font-size: 45px;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

h3{
    /* padding-bottom: 2.5rem; */
    text-align: justify;
}

.img-container{
    display: flex;
}

.card img{
  /* display: block;
    width: 300px; */
    padding:18px !important; 
    height: 220px !important;
    /* margin-left: auto;
    margin-right: auto; */
}

.result{
  text-align: center;
  margin-bottom: 0.2rem !important;
}



  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 350px !important;
    height: 300px !important;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .card img{
    width: 100%;
    height: 396.66px;
    object-fit: cover;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  body{
    background: #f4f4f4;
    height: 100vh;
  }
  
  .wrapper{
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  button{
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 170px;
    height: 40px;
    line-height: 1;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 3px solid #8C82FC;
    background: #fff;
    color: #8C82FC;
    border-radius: 40px;
    cursor: pointer;
    overflow: hidden;
    transition: all .35s;
  }
  
  button:hover{
    background: #8C82FC;
    color: #fff;
  }
  
  button span{
    opacity: 1;
    visibility: visible;
    transition: all .35s;
  }
  
  .success{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .35s;
  }
  
  .success svg{
    width: 20px;
    height: 20px;
    fill: yellowgreen;
    transform-origin: 50% 50%;
    transform: translateY(-50%) rotate(0deg) scale(0);
    transition: all .35s;
  }
  
  button.is_active{
    width: 40px;
    height: 40px;
  }
  
  button.is_active .success{
    opacity: 1;
    visibility: visible;
  }
  
  button.is_active .success svg{
    margin-top: 50%;
    transform: translateY(-50%) rotate(720deg) scale(1);
  }
  
  button.is_active span{
    opacity: 0;
    visibility: hidden;
  }


  #predict-body .title-upload{
    text-align: center;
  }

  #upload-input{
    color: #2C3C1F !important;
    max-width: 550px !important;
    height: 50px !important;
    margin-top: 12%;
    margin-left: 35%;
    transform: translate(-50%, -50%);
    
  }


  input::-webkit-file-upload-button{
    font-family: Yeseva One;
    background: #2C3C1F !important;
    color: white !important;
    padding: 1em;
    height: 50px !important;
    text-transform: uppercase;
  }
  
  
  .btn-detect{
    font-family: Yeseva One;
    text-transform: uppercase;
    margin-top:12%;
    height: 50px !important;
    margin-left:65%;
    left: 5%;
    background-color: #2C3C1F !important;
  }
  


body {
  background-color: white;
}


  .homeBG{
    background-image: url(../self_photo/home_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .detectBG{
    background-image: url(../self_photo/detectbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .aboutusBG{
    background-image: url(../self_photo/aboutus_bg2_cropped.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .blb{
    background-image: url(../self_photo/diseases_library_imgs/header-blb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .narrowBrownSpot{
    background-image: url(../self_photo/diseases_library_imgs/narrow_brown_spot_1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bls{
    background-image: url(../self_photo/diseases_library_imgs/bls-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bpb{
    background-image: url(../self_photo/diseases_library_imgs/bpb_bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .blas{
    background-image: url(../self_photo/diseases_library_imgs/blas_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sundep{
    background-image: url(../self_photo/diseases_library_imgs/sundepbg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bulai{
    background-image: url(../self_photo/diseases_library_imgs/bulaibg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hispa{
    background-image: url(../self_photo/diseases_library_imgs/hispabg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .tungro{
    background-image: url(../self_photo/diseases_library_imgs/tungrobg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  header {
    font-family: 'Yeseva One';
    color:  white;
    font-size: 20px;
  }

  .row {
    margin-left: 0!important;
    margin-right: 0!important;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  
  .font-yeseva-one {
    font-family: 'Yeseva One';
  }

  .font-im-fell {
    font-family: 'IM Fell Double Pica'
  }

  .font-dark-green {
    color: #374b27;
  }

  .font-green {
    color: #6C875E;
  }

  .pHome {
    color: white!important;
    font-size: 18px;
    text-align: center;
    margin-left: 17%;
    margin-right: 17%;
  }

  .tabs {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden; 
    background-color: white;
  }

  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 1.2rem 0;
    text-align: center; 
    background-color: #2C3C1F;
  }

  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
  }

  .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
  .tabs [class*=" tab"] [type="radio"]:hover,
  .tabs [class*=" tab"] [type="radio"]:focus {
    border-bottom: 1px solid black; 
  }

  .tabs [class^="tab"] [type="radio"]:checked,
  .tabs [class*=" tab"] [type="radio"]:checked {
    border-bottom: 2px solid black; 
  }

  .tabs [class^="tab"] [type="radio"]:checked + div,
  .tabs [class*=" tab"] [type="radio"]:checked + div {
    opacity: 1; 
  }

  .tabs [class^="tab"] [type="radio"] + div,
  .tabs [class*=" tab"] [type="radio"] + div {
    display: block;
    opacity: 0;
    padding: 2rem 0;
    width: 90%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
  }

  .tabs .tab-2 {
    width: 50%; 
  }

  .tabs .tab-2 [type="radio"] + div {
    width: 200%;
    margin-left: 200%; 
  }
  .tabs .tab-2 [type="radio"]:checked + div {
    margin-left: 0; 
  }

  .tabs .tab-2:last-child [type="radio"] + div {
    margin-left: 100%; 
  }

  .tabs .tab-2:last-child [type="radio"]:checked + div {
    margin-left: -100%; 
  }

  hr {
   border: 1px solid #2C3C1F;
   opacity: 1;
   width: 75%;
   margin-left: auto;
   margin-right: auto;
}

footer {
  background-color: #2C3C1F;
  width: 100%;
  margin-top: 100px;
  color: white;
}

.footerHome {
  background: rgba(76, 175, 80, 0);
  width: 100%;
  margin-top: 100px;
  color: white;
}

.fa-2xl {
  color: white!important;
}